/book_machine.php
/confirm_punctuality.php
/manage_machines.php
/profile.php
/README.md
/report_issue.php
/select_date.php
/select_machine.php
/select_time.php
/statistics.php
/style.css
/update_machine_status.php